// .top-bar{
//     width: 100%;
//     height: 60px;
//     padding: 0px 60px;
//     align-items: center;
//     color: $white_color;
//     //border-bottom: 2px solid $primary_color;
//     @include respond-below(md){
//         display: none;
//     }
//   ul{
//       margin-left: 10px;
//       li{
//           margin: 0px 5px;
//           i{
//               font-size: 14px;
//               transition: color .3s ease;
//               &:hover{
//                   color: $primary_color;
//               }
//           }
//       }
//   }
//   a{
//       transition: color .3s ease-in;
//       &:hover{
//           color: $primary_color;
//       }
//   }
//   .donation-container{
//       .donte-button{
//         background-color: $primary_color;
//         color: $white_color;
//         margin-left: 10px;
//         padding: 20px 10px;
//       }
//   }
  
// }
//menu section
header{

    position: absolute;
    top: 10px;
    left: 0;
    z-index: 999;
    padding: 0px 80px;
    width: 100%;
   
    //background-color: $white_color;
    @include respond-below(md){
        top: 0;
        padding: 0 20px;
    }
    nav{
        height: 100px;
        align-items: center;
      
        @include respond-below(md){
            height: 70px;
        }
        .logo{
            width: 80px;
            height: auto;
            @include respond-below(md){
                width: 60px;
            
             }
            img{
                width: 100%;
            }
        }
        .navbar{
          
           
            ul{
                @include respond-below(md){
                    // display: block;
                    flex-direction: column;
                    position: absolute;
                    background-color: $gray-color;
                    width: 100%;
                    left: -100%;
                    top: 0;
                    height: 100vh;
                    padding: 20px 10px;
                    text-align: center;
                    transition: all .3s ease;
                    &.active{
                        left: 0;
                    }
               
               
                }
                li{
                    margin:0px 20px;
                    @include respond-below(md){
                        margin: 50px 0px;
                    }
                    a{
                        color: $white_color;
                        font-weight: 400;
                        transition: color .3s ease;
                        &:hover{
                            color: $primary_color;
                        }
                    }
                }
            }
        }

    } 
}

.mobile-icon{
    svg{
        width: 30px;
        color: white;
    }
    @include respond-above(md){
        display: none;
    }
    position: relative;
    z-index: 99;
}

// hero section

.hero{
    width: 100%;
    height: 90vh;
    position: relative;
   overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
        background-position: center;
        height: 100%;
    }
    .hero-info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
   
        h1{
            @include respond-below(lg){
                    font-size: 60px;
                    line-height: 70px;
            }
            @include respond-below(md){
                font-size: 40px;
                line-height: 50px;
            }
            font-size: 75px;
            font-weight:700;
            color: rgba(255, 255, 255, 0.76);
            line-height: 85px;
            span{
                color: $primary_color;
              
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
    .swiper-pagination{
        bottom: 40px;
    }
    .swiper-pagination-bullet{
        width: 30px;
        height: 10px;
       background-color: $primary_color;
       border-radius: 0px;
       margin: 0px 4px;
    }
 }





.para{
    font-size: 16px;
    line-height: 44px;
    margin-top: 20px;
}



.uk-card{
    max-width: 600px;
    margin-top: 60px;
    background: #F4f4f4;
    margin-top: 40px;
    padding: 10px;
    .uk-card-media-top{
        max-width: 350px;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        top: -30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .uk-card-body{
        padding: 10px 10px;
        p{
            font-size: 22px;
            line-height: 44px;
            text-align: justify;
            @include respond-below(md){
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}


footer{
    background-color: #000;
    padding: 80px 10px;
    height: auto;
    .footer-content{
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
        @include respond-below(md){
            width: 90%;
            display: block;
        }
        .footer-columns{
            h5{
                color: $yellow_color;
                font-size: 18px;
                font-weight: 500;
                @include respond-below(md){
                    font-size: 14px;
                   
                }
            
            }
            max-width: 600px;
            color: white;
            p{
                font-weight: 100;
                line-height: 35px;
            }
            h2{
                color: $white_color;
                font-size: 24px;
                font-weight: 500;
                @include respond-below(md){
                    font-size: 20px;
                    
                  
                }
            }
            .about-footer{
               img{
                   width: 160px;
                   height: auto;
               }
                
            }

.quick-links{
    ul{
        li{
            margin-top: 10px;
            a{
                color: $white_color;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items: center;
                gap: 10px;
                svg{
                    height: 14px;
               
                }
            }
        }
    }
}


.contact{
    margin-top: 20px;
    .details{
        margin-top: 10px;
        gap: 10px;
        .icon-box{
            background-color: $white_color;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            @include respond-below(md){
                width: 25px;
                height: 25px;
            }
            svg{
                color: $gray-color;
                width: 20px;
                height: auto;
                @include respond-below(md){
                    width: 14px;
                   
                }
            }
            
        }
        .details-desc{
           
           
            p{
                margin: 0;
                padding: 0;
                line-height: 23px;
            }
        }
    }
}
.bank-details{
    margin-top: 30px;
  h6{
      color: $white_color;
      margin: 6px 0px;
      font-size: 18px;
      font-weight: 500;
      span{
          font-weight: 100;
      }
  }
  .social-icons{
   svg{
       margin-left: 10px;
       color: $white_color;
   }

  }
   
}

        }
    }
}


// inner pages style
.half-section-banner{
    width: 100%;
    height: 60vh;
    background: url('/assets/images/pro.jpg');
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: $white_color;
        font-weight: 600;
    }
}

.custom-image-wrapper{
    position: relative;
    height: 300px;

    img{
        width: 100%;
        height: 300PX;
        object-fit: cover;
    
    }
    .square-dec{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: $primary_color;
        z-index: -1;
        &.right-top{
            right: -5px;
            top: -5px;
        }
        &.left-top{
            left: -5px;
            top: -5px;
        }
        &.left-bottom{
            left: -5px;
            bottom: -5px;
        }
        &.right-bottom{
            right: -5px;
            bottom: -5px;
        }
    
      
        
    }
   
}

.box{
    margin-left: 30px;
    @include respond-below(md){
        margin-left: 0px;
    }
    margin-top: 20px;
    h3{
        font-size: 28px;
        color: $primary_color;
        font-weight: 600;
    }
    p{
        text-align: justify;
    }

    .slogan{
        font-size: 16px;
        font-weight: 400;
        color: white;
        margin: 0;
        letter-spacing: 5px;
        @include respond-below(md){
           font-size: 14px;
           letter-spacing: 0px;
        }
    }
    h1{
        color: $yellow_color;
        font-weight: 600;
        margin: 0;
        font-size: 33px;
        margin: 5px 0px;
        @include respond-below(md){
            font-size: 26px;
        }
    }
    ul{
        margin: 
        15px 0px;
        li{
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 5px 0px;
            padding: 0;
            .icon-box{
                background: $white_color;
                width: 15px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                svg{
                    width: 10px;
                    color: #333;
                    height: auto;

                }
            }
            p{
                margin: 2px;
                color: $white_color;
                font-size: 14px;
            }
        }
    }
}

.contact-wrapper{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    @include respond-below(md){
        flex-direction: column-reverse;
    }
    .form-colum{
        flex: 2;
        label{
            font-size: 14px;
            margin-bottom: 4px;
        }
        ::placeholder{
            font-size: 12px;
        }
        button{
            width: 100%;
            background-color: $primary_color;
            color: $white_color;
            font-size: 14px;
            padding: 14px;
            border: none;
            cursor: pointer;
        }
    }
    .adress-area{
        margin-top: 20px;
        flex: 1;
        h2{
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            color: $primary_color;
        }
        p{
            margin: 10px 0px;
        }
        .social-icons{
         
            gap: 10px;
            margin-top: 10px;
            svg{
                color: #333;
            }
        }
    }
}

.map-view{
    width: 100%;
    height: 400px;

    iframe{
        width: 100%;
        height: 100%;
    }
}